.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
}

.row__cell {
  box-sizing: border-box;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 12px;
  padding: 5px;
  background-color: #7fc7b9;
}

.row__cell_checked {
  background-color: #b8f2d3;
}

.row__cell_textarea {
  resize: none;
  border-left: none;
  border-top: none;
}

.row__cell:first-child {
  border-left: 1px solid #000;
}

.row__cell_adding {
  border-top: #000 solid 1px;
}

.row__error {
  color: #a60202;
  display: none;
  font-size: 12px;
}

.row__error_active {
  display: block;
}

.row__error_type_nameCompany {
  grid-column: 2 / 3;
}

.row__error_type_addressCompany {
  grid-column: 4 / 5;
}

.row__error_type_lastnameCoworker {
  grid-column: 2 / 3;
}

.row__error_type_nameCoworker {
  grid-column: 3 / 4;
}

.row__error_type_positionCoworker {
  grid-column: 4 / 5;
}
