.table__title {
  margin: 0;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.table__row {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.table__cell {
  box-sizing: border-box;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.table__cell:first-child {
  border-left: 1px solid #000;
}

.column-name {
  border-top: #000 solid 1px;
}
